/* IMAGINARY CSS */


/* =============== */

/* REAL CSS */

body {
  background:#1a1a1a;
  font-family:helvetica;
  font-size:100%;}

body>p {
  font-family:courier new;
  line-height:1.5em;
  color:#ccc;
  margin:1em;}

code {
  background:#adc4d4;
  color:#1a1a1a;
  padding:0 .5em;}

.demo-wrap {
  background:#ccc;
  padding:2em;
  margin:1em;}

header {
  background:#ddd;
  padding:.25em 1em;
  margin:0 0 1em;}

a {color:#f00;}
