
<div id="js" class="demo-wrap">
  <p>This uses jQuery to style based on the combination of heading elements. I don't like it, but it technically works.</p>
  <header>
    <h1>This is just an H1</h1>
  </header>
  <header>
    <h1>This is an H1</h1>
    <h2>with an H2 </h2>
  </header>
</div>

<div id="css" class="demo-wrap">
  <p>THIS IS WHERE I WOULD USE CSS TO ACHIEVE THE SAME ENDS, IF I COULD. <a href="https://media.tumblr.com/tumblr_m7ff0dRixA1r38rh9.gif" target="_blank">BUT I CAN'T</a>.</p>
  <header>
    <h1>This is just an H1</h1>
  </header>
  <header>
    <h1>This is an H1</h1>
    <h2>with an H2 </h2>
  </header>
</div>
