<div class="container-fluid">
  <div class="row">
    <div class="Hero Parallax aa-contact-us-page-hero-image col-xs-12">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col text-container">
          <h2>Contact&nbsp;Us</h2>
          <h3>
            If you’re thinking about studying abroad, sing up for our contact
            list! We will contact you within 24h. If you want to learn more
            about our services, visit About Us section.
          </h3>
        </div>
      </div>
      <a class="contact-form-anchor-link">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-angle-down fa-stack-1x" style="font-size: 1.5em"></i>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="container aa-contact-us-page-address">
  <div class="row">
    <div class="col-xs-12">
      <p>
        Elab Education Laboratory<br />
        Address: <br />
        Nowogrodzka 68<br />02-014 Warsaw<br /><br />Phone:<br />0048 602 751
        351<br />
        E-mail:
        <br />
        <a href="mailto:info@elab.edu.pl" target="_blank">info@elab.edu.pl</a
        ><br />
      </p>
    </div>
  </div>
</div>
<div class="contact-us-form">
  <div class="inner-contact-us-form">
    <h1 class="contact-us-form-header">Free Consultation</h1>
    <div class="contact-us-form-body">
      <form
        id="contact-us-form"
        action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
        method="POST"
      >
        <!-- <form action="http://localhost:444/sandbox/all_post.php" method="POST"> -->
        <input type="hidden" name="oid" value="00D24000000YRPu" />
        <input type="hidden" name="retURL" value="" />
        <!--  ----------------------------------------------------------------------  -->
        <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
        <!--  these lines if you wish to test in debug mode.                          -->
        <!--  <input type="hidden" name="debug" value=1>                              -->
        <!--  <input type="hidden" name="debugEmail"                                  -->
        <!--  value="k.bohdanowicz@elab.edu.pl">                                      -->
        <!--  ----------------------------------------------------------------------  -->
        <fieldset>
          <div class="contact-us-form-field-wrapper">
            <label for="first_name">First Name</label>
            <input
              id="first_name"
              maxlength="40"
              name="first_name"
              size="20"
              type="text"
            />
          </div>
          <div class="contact-us-form-field-wrapper">
            <label for="last_name">Last Name</label>
            <input
              id="last_name"
              maxlength="80"
              name="last_name"
              size="20"
              type="text"
            />
          </div>
          <div class="contact-us-form-field-wrapper">
            <label for="email">Email</label>
            <input
              id="email"
              maxlength="80"
              name="email"
              size="20"
              type="text"
            />
          </div>
          <div class="contact-us-form-field-wrapper">
            <label for="phone">Phone</label>
            <input
              id="phone"
              maxlength="40"
              name="phone"
              size="20"
              type="text"
            />
          </div>
          <div class="contact-us-form-field-wrapper">
            <label for="00N2400000EtJeo"
              >In which year are you going to begin your studies?</label
            >
            <select
              id="00N2400000EtJeo"
              name="00N2400000EtJeo"
              title="Study begin year"
            >
              <option value="">--None--</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="Nieznany">Not specified</option>
            </select>
          </div>
          <div class="contact-us-form-field-wrapper">
            <label for="00N2400000Istrh"
              >Which studies are you interested in?</label
            >
            <select
              id="00N2400000Istrh"
              name="00N2400000Istrh"
              title="Studies level"
            >
              <option value="">--None--</option>
              <option value="Undergraduate">Undergraduate</option>
              <option value="Postgraduate">Postgraduate</option>
            </select>
          </div>
          <div class="contact-us-form-field-wrapper">
            <span class="label">Target country</span>
            <div class="checkbox-group">
              <div class="contact-us-form-field-wrapper">
                <input
                  id="form-country-uk"
                  name="00N2400000Istrm"
                  type="checkbox"
                  value="UK"
                /><label for="form-country-uk" class="form-checkbox">UK</label>
              </div>
              <div class="contact-us-form-field-wrapper">
                <input
                  id="form-country-usa"
                  name="00N2400000Istrm"
                  type="checkbox"
                  value="USA"
                  style
                /><label for="form-country-usa" class="form-checkbox"
                  >USA</label
                >
              </div>
              <div class="contact-us-form-field-wrapper">
                <input
                  id="form-country-nl"
                  name="00N2400000Istrm"
                  type="checkbox"
                  value="The Netherlands"
                /><label for="form-country-nl" class="form-checkbox"
                  >The Netherlands</label
                >
              </div>
              <div class="contact-us-form-field-wrapper">
                <input
                  id="form-country-dk"
                  name="00N2400000Istrm"
                  type="checkbox"
                  value="Denmark"
                  style
                /><label for="form-country-dk" class="form-checkbox"
                  >Denmark</label
                >
              </div>
              <div class="contact-us-form-field-wrapper">
                <input
                  id="form-country-other"
                  name="00N2400000Istrm"
                  type="checkbox"
                  value="Other"
                  style
                /><label for="form-country-other" class="form-checkbox"
                  >Other</label
                >
              </div>
            </div>
          </div>
          <div class="contact-us-form-field-wrapper">
            <label for="00N2400000EB8hh">Message</label
            ><textarea
              id="00N2400000EB8hh"
              name="00N2400000EB8hh"
              rows="8"
              type="text"
              wrap="soft"
            ></textarea>
          </div>
          <div class="clear">
            <!-- <input type="submit" name="submit"> -->
            <button
              type="submit"
              class="btn btn-primary"
              form="contact-us-form"
              value="submit"
            >
              Get free consultation
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
