<div
  class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary my-2"
  style="width: 100%"
>
  <select name="select" id="" class="my-2">
    <option value="{{ Motors.id }}">{{ Motors.Name }}</option>
    <option value="Another action">action</option>
    <option value="Another action">Another action</option>
    <option value="Another action">Something else here</option>
  </select>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <a
      href="#"
      class="list-group-item list-group-item-action py-3 lh-sm"
      aria-current="true"
    >
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small>Wed</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Tues</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Mon</small>
      </div>
    </a>

    <a
      href="#"
      class="list-group-item list-group-item-action py-3 lh-sm"
      aria-current="true"
    >
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Wed</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Tues</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Mon</small>
      </div>
    </a>
    <a
      href="#"
      class="list-group-item list-group-item-action py-3 lh-sm"
      aria-current="true"
    >
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Wed</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Tues</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Mon</small>
      </div>
    </a>
    <a
      href="#"
      class="list-group-item list-group-item-action py-3 lh-sm"
      aria-current="true"
    >
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Wed</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Tues</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-body-secondary">Mon</small>
      </div>
    </a>
  </div>
</div>
<h2>Branches</h2>
<ul>
  <li *ngFor="let item of store.branches">{{ item }}</li>
</ul>
